<div class="container mt-5">
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name, label_html: { class: 'text-white' } %>
    <%= link_to 'Go Back', root_path, class: "btn btn-primary text-white" %>
    <%= f.submit class: "btn btn-success float-right text-white" %>
  <% end %>
</div>
